<!DOCTYPE html>
<html lang="en-IN">

<head>
    <title>Railway</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML,CSS,JS,mysql"> <!-- keywords for search engine -->
    <meta name="description" content="DBMS"> <!-- description of web page -->
    <meta name="author" content="Smilee Lopes, Smita Dike, Floyd Fernandes"> <!-- author of a page -->
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/images/train.svg"> <!-- icon -->
    <script>

        function showPopupTrain() {
            hidePopupPnr();
            document.getElementById("popup-train").style.display = "block";
        }
        function hidePopupTrain() {
            document.getElementById("popup-train").style.display = "none";
        }
        function showPopupPnr() {
            hidePopupTrain();
            document.getElementById("pnr").style.display = "block";
        }
        function hidePopupPnr() {
            document.getElementById("pnr").style.display = "none";
        }

    
        function openTrainSearch() {
            console.log('train');
            window.location.href = '/train';
        }
        function openPNRstatus() {
            console.log('PNRstatus');
            window.location.href = '/PNRstatus';
        }


    </script>
</head>

<body>
    <header class="nav">
        <nav>
            <div class="train-pic">
                <img class="train" src="/images/train.svg" alt="train" />
            </div>
            <h1 style="font-size: 5vh;">RailSafari</h1>
            <div>
                <button id="logout" class="logout" type="submit" onClick="">Logout</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="body">

        <div class="cardview_area">

            <div class="picture">
                <img id="pic" src="/images/train_pic_login.jpg" />
            </div>
            <table>
                <tc>
                    <td>
                        <div onclick="showPopupTrain()" id="card">
                            <div class="svg">
                                <img class="train" style="padding:4px;" src="/images/train.svg" alt="train" />
                            </div>
                            <h2 style="text-align: center;">Book Train</h2>
                        </div>
                    </td>
                    <td>
                        <div id="card" onclick="showPopupPnr()">
                            <div class="svg-tic">
                                <img class="train" src="/images/ticket.svg" alt="train" />
                            </div>
                            <h2>PNR Status Enquiry</h2>

                        </div>
                    </td>
                </tc>
            </table>



            <div id="popup-train" style="display: none;overflow-y: auto;">
                <div id="login_popup">
                    <form method="post" id="form">
                        <div class='border'>
                            <span id="Close-btn" class='fa-solid fa-xmark' onClick="hidePopupTrain()"
                                type='submit'>&times;</span>

                            <h2>Train Search</h2>

                            <div>
                                <label for='from'>From</label><br />
                                <input type="text" id="from" placeholder="From" name="From" required />
                            </div>

                            <div>
                                <label for="to">To</label><br />
                                <input type="text" id="to" placeholder="To" name="To" required />
                            </div>
                            <label for="date">Date</label>
                            <input type="date" id="date" name="Date" required>
                            <div>
                                <label for="class">Class</label>
                                <select id="class" name="Class" required>
                                    <option value="value" selected>All Classes</option>
                                    <option value="sleeper">Sleeper(SL)</option>
                                    <option value="AC First Class (1A)">AC First Class (1A)</option>
                                    <option value="AC 2 Tier(2A)">AC 2 Tier(2A)</option>
                                    <option value="AC 3 Tier(3A)">AC 3 Tier(3A)</option>
                                    <option value="First Class (FC)">First Class (FC)</option>
                                    <option value="second Sitting(2S)">second Sitting(2S)</option>
                                </select>
                            </div>
                            <div>
                                <button class='sub-btn-search' type='submit' onclick="openTrainSearch()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div id="pnr" style="display: none;overflow-y: auto;">
                <div id="pnr-train">
                    <form action="" onSubmit="">
                        <div class='border'>
                            <span id="Close-btn" class='fa-solid fa-xmark' onClick="hidePopupPnr()"
                                type='submit'>&times;</span>

                            <h2 style="font-size: medium;">PNR Status</h2>
                            <div>
                                <label for="pnr_status">PNR No.</label><br />
                                <input type="text" id="pnr_status" placeholder="Enter PNR" name="PNR" max="" required />
                            </div>
                            <div>
                                <button id="sub-pnr" class='sub-btn-pnr' type='submit'
                                    onClick="openPNRstatus()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <a href="https://instagram.com" class="fa fa-instagram"></a>
        <a href="https://m.facebook.com" class="fa fa-facebook"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="mailto:mca.2268@unigoa.ac.in" class="fa fa-envelope"></a>
    </footer>

</body>

</html>