<!DOCTYPE html>
<html lang="en-IN">

<head>
    <title>Railway</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML,CSS,JS,mysql"> <!-- keywords for search engine -->
    <meta name="description" content="DBMS"> <!-- description of web page -->
    <meta name="author" content="Smilee Lopes, Smita Dike, Floyd Fernandes"> <!-- author of a page -->
    <link rel='stylesheet' href='/stylesheets/ticket.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/images/train.svg"> <!-- icon -->
    <script>

    </script>

</head>

<body>
    <header class="nav">
        <nav>
            <div class="train-pic">
                <img class="train" src="/images/train.svg" alt="train" />
            </div>
            <h1 style="font-size: 5vh;">RailSafari</h1>
            <div>
                <button class="logout" onClick="">Logout</button>
            </div>
        </nav>
    </header>
    <div class="body">
        <div class="cardview_area">
            <div class="card 1">
                <h2>MAJN CSMT EXP(12134) Train Ticket</h2>
                <div>
                    <table style="width:100%">
                        <tr>
                            <th>PNR No.</th>
                            <th>Transaction ID</th>
                            <th>Ticket booking Date</th>
                        </tr>
                        <tr>
                            <td>1234567890</td>
                            <td>12345678901234</td>
                            <td>01-10-2023</td>
                        </tr>
                    </table>
                </div>
                <br>
                <div>
                    <div class="tab" style="overflow-x: auto;">
                        <div>
                            <table style="width:100%">
                                <tr>
                                    <th>Journey Date</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Boarding At</th>
                                    <th>Reservation Upto</th>
                                    <th>Distance</th>
                                    <th>Departure Time</th>
                                    <th>Arrival Time</th>
                                </tr>
                                <tr>
                                    <td>10-12-1023</td>
                                    <td>Goa</td>
                                    <td>Mumbai</td>
                                    <td>Goa</td>
                                    <td>Mumbai</td>
                                    <td>100km</td>
                                    <td>10am</td>
                                    <td>5pm</td>
                                </tr>
                            </table>
                        </div>
                        <br>

                        <br>
                        <table style="width:100%">
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Train No.</th>
                                <th>Train Name</th>
                                <th>Seat No.</th>
                                <th>Class</th>
                                <th>Coach</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>Myra carvallho</td>
                                <td>60</td>
                                <td>F</td>
                                <td>12345</td>
                                <td>Mumbai Rajdhani</td>
                                <td>44(LB)</td>
                                <td>Sleeper(SL)</td>
                                <td>S8</td>
                                <td>confirm</td>
                            </tr>
                        </table>
                    </div>
                    <div>

                    </div>
                    <div style="margin-left: 60%;">'
                        <table>
                            <tc>
                                <th>Total Fare</th>
                                <td>1200 /-</td>
                            </tc>
                        </table>
                    </div>
                </div>
                <div>
                    <button class="print">Print</button>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <a href="https://instagram.com" class="fa fa-instagram"></a>
        <a href="https://m.facebook.com" class="fa fa-facebook"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="mailto:mca.2268@unigoa.ac.in" class="fa fa-envelope"></a>
    </footer>

</body>

</html>