<!DOCTYPE html>
<html lang="en-IN">

<head>
    <title>Railway</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML,CSS,mysql"> <!-- keywords for search engine -->
    <meta name="description" content="DBMS"> <!-- description of web page -->
    <meta name="author" content="Smilee Lopes, Smita Dike, Floyd Fernandes"> <!-- author of a page -->
    <link rel='stylesheet' href='/stylesheets/logout.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/images/train.svg"> <!-- icon -->
    <style>


    </style>
    <script>

    </script>
</head>

<body>
    <header class="nav">
        <nav>
            <div class="train-pic">
                <img class="train" src="/images/train.svg" alt="train" />
            </div>
            <div>
                <button class="logout" onClick="">Logout</button>
            </div>
        </nav>
    </header>
    <div class="body">
        <div class="picture">
            <img id="pic" src="/images/train_pic_login.jpg" style="background-color: brown;" />
        </div>
        <div class="cardview_area">
            <div class="card 1">
                <a href="">Book Train</a>
            </div>
            <div class="card 2">
                <h3>PNR Status Enquiry</h3>



            </div>
        </div>
    </div>

    <footer>
        <a href="https://instagram.com" class="fa fa-instagram"></a>
        <a href="https://m.facebook.com" class="fa fa-facebook"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="mailto:mca.2268@unigoa.ac.in" class="fa fa-envelope"></a>
    </footer>

</body>

</html>