<!DOCTYPE html>
<html lang="en-IN">

<head>
    <title>Railway</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML,CSS,JS,mysql"> <!-- keywords for search engine -->
    <meta name="description" content="DBMS"> <!-- description of web page -->
    <meta name="author" content="Smilee Lopes, Smita Dike, Floyd Fernandes"> <!-- author of a page -->
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/images/train.svg"> <!-- icon -->
    <script>
        function showPopup() {
            hidePopupTrain();
            hidePopupPnr();
            document.getElementById("popup").style.display = "block";
        }
        function hidePopup() {
            document.getElementById("popup").style.display = "none";
        }
        function showPopupTrain() {
            hidePopup();
            hidePopupPnr();
            document.getElementById("popup-train").style.display = "block";
        }
        function hidePopupTrain() {
            document.getElementById("popup-train").style.display = "none";
        }
        function showPopupPnr() {
            hidePopupTrain();
            hidePopup();
            document.getElementById("pnr").style.display = "block";
        }
        function hidePopupPnr() {
            document.getElementById("pnr").style.display = "none";
        }

    </script>

</head>

<body>
    <header class="nav">
        <nav>
            <div class="train-pic">
                <img class="train" src="/images/train.svg" alt="train" />
                <h1>Railway</h1>
            </div>
            <div>
                <button class="signup" onClick="showPopup()">Logout</button>
                <div id="popup" style="display: none;  overflow: scroll;">
                    <div id="signup_popup">
                        <form action="">
                            <span id="Close-btn" class='fa-solid fa-xmark' onClick="hidePopup()"
                                type='submit'>&times;</span>
                            <h2>Credit/Debit Card</h2>

                            <div>
                                <label for="card_no">Card No.</label><br />
                                <input type="text" id="card_no" placeholder="Enter Card No." name="Card No."  max="16"/>
                            </div>
                            <div>
                                <label for='card_holder_name'>Card Holder Name</label><br />
                                <input type="text" id="card_holder_name" placeholder="Enter Card Holder Name" name="Card Holder Name" required />
                            </div>      
                            <div>
                                <label for='expire_date'>Expire Date</label><br />
                                <input type="text" id="expire_date" placeholder="Enter Expire Date" name="Expire Date" required />
                            </div>
                            <div>
                                <label for='csv'>CSV</label><br />
                                <input type="text" id="csv" placeholder="Enter CSV" name="csv" />
                            </div>
                            <div class='center'>
                                <button class="sub-btn" type='submit'>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="body">
        <div class="cardview_area">
            <div class="picture">
                <img id="pic" src="/images/train_pic_login.jpg" />
            </div>
            <table>
                <tc>
                    <td>
                        <div onclick="showPopupTrain()" id="card">
                            <div class="svg">
                                <img class="train" style="padding:4px;" src="/images/train.svg" alt="train" />
                            </div>
                            <h2 style="text-align: center;">Book Train</h2>
                        </div>
                    </td>
                    <td>
                        <div id="card" onclick="showPopupPnr()">
                            <div class="svg-tic">
                                <img class="train" src="/images/ticket.svg" alt="train" />
                            </div>
                            <h2>PNR Status Enquiry</h2>
                        </div>
                    </td>
                </tc>
            </table>

            <div id="popup-train" style="display: none;overflow: scroll;">
                <div id="login_popup">
                    <form action="" onSubmit="">
                        <div class='border'>
                            <span id="Close-btn" class='fa-solid fa-xmark' onClick="hidePopupTrain()"
                                type='submit'>&times;</span>

                            <h2>Train Search</h2>
                            <div>
                                <label for="to">To</label><br />
                                <input type="text" id="to" placeholder="To" name="To" required />
                            </div>
                            <div>
                                <label for='from'>From</label><br />
                                <input type="text" id="from" placeholder="From" name="From" required />
                            </div>
                            <label for="date">Date</label>
                            <input type="date" id="date" name="Date" required>
                            <div>
                                <label for="class">Class</label>
                                <select id="class" name="Class" required>
                                    <option value="value" selected>All Classes</option>
                                    <option value="sleeper">Sleeper(SL)</option>
                                    <option value="AC First Class (1A)">AC First Class (1A)</option>
                                    <option value="AC 2 Tier(2A)">AC 2 Tier(2A)</option>
                                    <option value="AC 3 Tier(3A)">AC 3 Tier(3A)</option>
                                    <option value="First Class (FC)">First Class (FC)</option>
                                    <option value="second Sitting(2S)">second Sitting(2S)</option>
                                </select>
                            </div>
                            <div>
                                <button class='sub-btn' type='submit'>Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div id="pnr" style="display: none;">
                <div id="pnr-train">
                    <form action="" onSubmit="">
                        <div class='border'>
                            <span id="Close-btn" class='fa-solid fa-xmark' onClick="hidePopupPnr()"
                                type='submit'>&times;</span>

                            <h2>PNR Status</h2>
                            <div>
                                <label for="pnr_status">PNR No.</label><br />
                                <input type="text" id="pnr_status" placeholder="Enter PNR" name="PNR" max="" required />
                            </div>
                            <div>
                                <button id="sub" class='sub-btn' type='submit' href="">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    </div>

    <footer>
        <a href="https://instagram.com" class="fa fa-instagram"></a>
        <a href="https://m.facebook.com" class="fa fa-facebook"></a>
        <a href="https://twitter.com" class="fa fa-twitter"></a>
        <a href="mailto:mca.2268@unigoa.ac.in" class="fa fa-envelope"></a>
    </footer>
</body>

</html>